{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

            <form  method="post">
            {% csrf_token %}
                are you sure you want to delte {{item}} ?
                <a class="btn btn-warning" href="" onclick="javascript:window.history.back(-1);return false;">cancel</a>
                <button type="submit" class="btn btn-danger">delete</button>
            </form>
            
        </div>
	</div>
</div>
{% endblock %}